html, body {
  height: 100%;
  width: 100%;
}

.pad-section {
  padding: 50px 0;

  img {
    width: 100%;
  }
}

.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#home {
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
  background: url(/img/home.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1 {
    margin: 0;
    padding: 0;
    font-size: 3.5em;
    font-weight: 700;
  }

  h3 {
    margin-bottom: 24px;
  }
}

#services {
  background-color: #333333;
  color: #ffffff;

  a {
    color: #CFA16F;
  }

  hr {
    max-width: 50px;
    border: 1px solid #cfa16f;
  }

  h4 {
    margin-bottom: 20px;
  }

  i.fa {
    margin-bottom: 8px;
  }
}

footer {
  padding: 20px 0;

  .glyphicon {
    color: #333333;
    font-size: 60px;

    :hover {
      color: #306d9f;
    }
  }
}
