extends layout

block content
  section#home
    .text-vcenter
      h1 Hoşgeldiniz
      h3 Başlamak için haritadan bir il seçin
      a.btn.btn-primary.btn-lg.page-scroll(href='#map') Devam Edin
  section#map.pad-section
