extends layout

block content
  section#home
    .text-vcenter
      h1 Hoşgeldiniz
      h3 Başlamak için haritadan bir il seçin
      a.btn.btn-primary.btn-lg.page-scroll(href='#map') Devam Edin
  section#map
  section#institutions
    ul
      li
        div.container
          table#institutions-table.table.table-striped.table-bordered.nowrap(cellspacing='0', width='100%')
            thead
              tr
                th Kurum Kodu
                th İli
                th İlçesi
                th Okul Adı
                th Toplam Etkinlik
                th Gerçekleşen Etkinlik
                th Kalan Etkinlik
      li
        div.container
          table#activities-table.table.table-striped.table-bordered.nowrap(cellspacing='0', width='100%')
            thead
              tr
                th Başlangıç Tarihi
                th Bitiş Tarihi
                th Konusu
                th İlgili Kişi
                th Durum
