extends layout

block content
  section#home
    .text-vcenter
      h1 Hoşgeldiniz
      h3 Başlamak için haritadan bir il seçin
      a.btn.btn-primary.btn-lg.page-scroll(href='#map') Devam Edin
  section#map
  section#institutions
    ul.slide
      li
        .container.institutions
          table#institutions-table.table.table-striped.table-bordered.nowrap(cellspacing='0', width='100%')
            thead
              tr
                th Kurum Kodu
                th İli
                th İlçesi
                th Okul Adı
                th Toplam Etkinlik
                th Gerçekleşen Etkinlik
                th Kalan Etkinlik
      li
        .container.activities
          table#activities-table.table.table-striped.table-bordered.nowrap(cellspacing='0', width='100%')
            thead
              tr
                th Başlangıç Tarihi
                th Bitiş Tarihi
                th Konusu
                th İlgili Kişi
                th Durum
      li
        .container.activity
          .row
            .dt-info.col-sm-12
              a.slide-back.to-activities(href)
                i.fa.fa-chevron-left(aria-hidden='true') &nbsp;
              span.text-primary
                strong.subject
          .well
            .row
              .col-sm-6.images
                .row.vcenter
                  .col-md-12.text-center.main-img
                .row
                  .col-md-12.hidden-xs.hidden-sm.thumb-container
                    .thumbnails
              .col-sm-6.info
                .row
                  .col-sm-12.date.text-warning
                    strong
                      i.fa.fa-calendar &nbsp;
                      span
                .row
                  .col-sm-12.summary
                .row.hidden-xs
                  .col-sm-12.description
  section#charts
    ul.slide
      li.chart1
        .row
          .col-sm-12.title.text-center
            h3 En Çok Etkinlik Düzenlenen İller
          .col-sm-12.separator &nbsp;
        .row
          .col-sm-10.col-sm-offset-1.chart-container
            #chart1.chart
      li.chart2
        .row
          .col-sm-12.title.text-center
            h3 En Çok Etkinlik Düzenlenen Kurumlar
          .col-sm-12.separator &nbsp;
        .row
          .col-sm-10.col-sm-offset-1.chart-container
            #chart2.chart
      li.chart3
        .row
          .col-sm-12.title.text-center
            h3 Aylara Göre Etkinlikler
          .col-sm-12.separator &nbsp;
        .row
          .col-sm-10.col-sm-offset-1.chart-container
            #chart3.chart
