doctype html
html(lang='tr')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title= title
    block css
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')
      link(rel='stylesheet', href='/components/unslider/dist/css/unslider.css')
      link(rel='stylesheet', href='/components/unslider/dist/css/unslider-dots.css')
      link(rel='stylesheet', href='/components/ammap3/ammap/ammap.css')
      link(rel='stylesheet', href='/components/datatables.net-bs/css/dataTables.bootstrap.min.css')
      link(rel='stylesheet', href='/components/datatables.net-select-bs/css/select.bootstrap.min.css')
      link(rel='stylesheet', href='/css/style.css')
    block js
      script(src='/components/jquery/dist/jquery.min.js')
      script(src='/components/jquery.easing/js/jquery.easing.min.js')
      script(src='/components/bootstrap/dist/js/bootstrap.min.js')
      script(src='/components/unslider/dist/js/unslider-min.js')
      script(src='/components/ammap3/ammap/ammap.js')
      script(src='/components/ammap3/ammap/plugins/dataloader/dataloader.min.js')
      script(src='/components/ammap3/ammap/maps/js/turkeyHigh.js')
      script(src='/components/ammap3/ammap/themes/light.js')
      script(src='/components/ammap3/ammap/lang/tr.js')
      script(src='/components/scrollreveal/dist/scrollreveal.min.js')
      script(src='/components/datatables.net/js/jquery.dataTables.min.js')
      script(src='/components/datatables.net-bs/js/dataTables.bootstrap.min.js')
      script(src='/components/datatables.net-select/js/dataTables.select.min.js')

      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-main')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.page-scroll.navbar-brand(href='#home') Librix Dashboard
        #navbar-collapse-main.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.page-scroll(href='#home')
                i.fa.fa-home(aria-hidden='true')
                |&nbsp;Ana Sayfa
            li
              a.page-scroll(href='#map')
                i.fa.fa-map(aria-hidden='true')
                |&nbsp;Harita
            li
              a.page-scroll(href='#contact')
                i.fa.fa-phone(aria-hidden='true')
                |&nbsp;İletişim
            li
              a(href='#')
                i.fa.fa-sign-in(aria-hidden='true')
                | &nbsp;Giriş
    block content
    section#contact.pad-section
      .container
        .row
          .col-sm-8.col-sm-offset-2.text-center
            h3 Bize Ulaşın!
            hr.primary
            p Librix %100 yerli yazılım olarak ülke genelinde kütüphane kullanımı ve okuma alışkanlığı hakkında ihtiyaç duyulan tüm istatistikleri sunmaktadır.
        .row
          .col-sm-4.col-sm-offset-2.text-center
            i.fa.fa-phone.fa-3x.sr-contact
            p 0(506) 652 2932
          .col-sm-4.text-center
            i.fa.fa-envelope-o.fa-3x.sr-contact
            p
              a(href='mailto:info@paydaegitim.com') info@paydaegitim.com
    footer
      hr
      .container
        p.text-right © 2016 Librix Kütüphane Otomasyon Sistemi
    block script
      script(src="/js/app.js")
